<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Dell/IdeaProjects/SeleniumFramework11/src/test/java/ex_05032026_TestNGAnnotationsBT"><classes><class name="ex_05032026_TestNGAnnotationsBT.BeforeAfterTestAnnotation1"><methods><include name="Search"/><include name="AdvSearch"/></methods></class></classes></test></suite>