<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Dell/IdeaProjects/SeleniumFramework11/src/test/java/ex_09032026_DependencyMethodsndGrouping"><classes><class name="ex_09032026_DependencyMethodsndGrouping.DependencyMethods"><methods><include name="open_app"/></methods></class><class name="ex_09032026_DependencyMethodsndGrouping.GroupingLoginC1"><methods><include name="LoginByEmail"/><include name="LoginByFaceBook"/><include name="LoginByTwitter"/></methods></class><class name="ex_09032026_DependencyMethodsndGrouping.GroupingPaymentTestC3"><methods><include name="PaymentinRupees"/><include name="PaymentinDollars"/><include name="PaymentinCoins"/></methods></class><class name="ex_09032026_DependencyMethodsndGrouping.GroupingSignUpTestC2"><methods><include name="SignUpByEmail"/><include name="SignByFaceBook"/><include name="SignUpByTwitter"/></methods></class></classes></test></suite>